@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    background: #d5d9e1;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #3f4257;
    margin-top: 30px;
}

pre {
    max-width: 650px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
    border: 1px solid #b7c1c1;
    margin-left: 50px;
}

p {
    font-size: 15px;
    text-align: center;
    color: #7b7b7b;
    margin: 30px;
}
.head {
    margin: 40px 0 20px 40px;
    font-size: 25px;
    font-weight: bold;
    color: #353535;
    border-bottom: 1px solid #a8b4cc;
    padding-bottom: 5px;
}

.cxr-image {
    width:40%;
    margin-left: 5%;
    margin-right:2%;
    float: left;
}

.cxr-image img {
   /* width:100%; */
   width: 400px;
   /* height: 224px; */
}

.result-text {
    margin-top: 8%;
    width: 50%;
    float: left;
    text-align:center;
}

.result-text .title {
    font-weight: bold;
    font-size: 20px;
}

.result-text .notes {
    padding-top: 3%;
    font-size: 17px;
}

.result-text .button-title {
    margin-top: 20%;
    font-size: 18px;
}

.button-regions {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.button-regions button {
  border-radius: 4px;
  background-color: #324251;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
  opacity: 1;
}

.button-regions button:hover {
  opacity: 0.8;
}
