@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
    font-family: 'Roboto', sans-serif;
    background: #d5d9e1;
}

.page {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #3f4257;
    margin-top: 30px;
}

pre {
        max-width: 650px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
    border: 1px solid #b7c1c1;
    margin-left: 50px;
}

p {
        font-size: 15px;
    text-align: center;
    color: #7b7b7b;
    margin: 30px;
}
.head {
    margin: 40px 0 20px 40px;
    font-size: 25px;
    font-weight: bold;
    color: #353535;
    border-bottom: 1px solid #a8b4cc;
    padding-bottom: 5px;
}

.section-text {
  margin: 40px 0 20px 40px;
  font-size: 16px;
  color: #323232;
}

table {
  margin: 40px 0 20px 40px;
  font-size: 17px;
  border-spacing: 5px;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 15px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
}
